

/*===========================
    01. Common CSS
===========================*/


@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

body {
    font-weight: normal;
    font-style: normal;
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
    @include box-sizing (border-box);
}


a:focus,
input:focus,
textarea:focus,
button:focus {
	text-decoration: none;
	outline: none;
	@include box-shadow(none);
}
a {
    @include transition(.3s);
}
button {
    cursor: pointer;
}
a:focus,
a:hover{
	text-decoration: none;
}

i,
span,
a{
    display: inline-block;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
	margin: 0px;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
}

h1 {
    font-size: 50px;
    margin-bottom: 20px;
}
h2 {
    font-size: 45px;

    @media #{$xs} {
        font-size: 36px;
    }
    @media #{$sm} {
        font-size: 40px;
    }
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 24px;
}
h5 {
	font-size: 20px;
}
h6 {
	font-size: 16px;
}

ul,ol {
	margin: 0px;
	padding: 0px;
    list-style-type: none;
}

p {
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	margin: 0px;
}

.img-bg {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.shape {
    position: absolute;
    z-index: -1;
}

.container {
    @media #{$sm} {
        width: 450px;
    }
}
.logo {
    display: block;
    height: 5em;
    position: left;
    img {
        width: 50%;
    }
}
.img-wrapper {
    @media #{$md} {
        display: none;
    }
    @media #{$xs} {
        display: none;
    }
}
.odd-col {
    @media #{$xs} {
        order: -1;
    }
}
.slick-slide {
    &:focus {
        outline: 0;
    }
}
// others common css here

.common-btn {
    position: relative;
    overflow: hidden;
    z-index: 2;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba($white, .1);
        border-radius: inherit;
        @include transition(.3s);
    }

    &:hover {

        &::after {
            @include transform(scale(.5));
            opacity: 0;
        }
    }
}



// ============ Margin and Padding ===============

// Margin-top
@for $i from 1 through 45 {
    .mt-#{5 * $i}{margin-top: 5px * $i;}
}
// Margin-bottom
@for $i from 1 through 45 {
    .mb-#{5 * $i}{margin-bottom: 5px * $i;}
}
// Padding-top
@for $i from 1 through 45 {
    .pt-#{5 * $i}{padding-top: 5px * $i;}
}
// Padding-bottom
@for $i from 1 through 45 {
    .pb-#{5 * $i}{padding-bottom: 5px * $i;}
}



















