
input {
    @include transition(.3s);
    font-size: 16px;
    border: 1px solid rgba(#707070, .3);

    &::placeholder {
        font-size: 16px;
    }

    &:focus {
        border-color: $theme-color;
    }
}

.subscribe-form-1 {
    position: relative;
    max-width: 570px;

    input {
        padding: 20px 25px;
        width: 100%;
    }

    button {
        padding: 20px 17px;
        color: $white;
        border: 1px solid transparent;
        position: absolute;
        bottom: 0;
        right: 0;

        @media #{$xs} {
            position: relative;
            margin-top: 15px;
        }
        @media #{$sm} {
            position: absolute;
        }
    }
}
