// demo-03 css

@import 'partials';

main {

    &.main-03 {
        position: relative;

        // shapes
        .shape {
            @media #{$md} {
                display: none;
            }
            @media #{$xs} {
                display: none;
            }
        }

        .shape-1 {
            width: 57px;
            height: 560px;
            background: #FFC845;
            left: 0px;
            top: 0px;

            @media #{$md} {
                display: block;
            }
        }
        .shape-3 {
            top: 180px;
            left: 140px;
        }
        .shape-4 {
            top :134px;
            left: 52%;

            @media #{$md} {
                display: block;
            }
        }
        .shape-5 {
            top: 144px;
            right: 177px;

            @media #{$md} {
                display: block;
            }
        }
        .shape-6 {
            top: 50%;
            left: 50%;
        }
        .shape-7 {
            left: 223px;
            bottom: 380px;
        }
        .shape-8 {
            bottom: 170px;
            left: 40%;

            @media #{$md} {
                display: block;
            }
        }
        .shape-9 {
            right: 145px;
            top: 515px;
            z-index: 1;
        }
        .shape-10 {
            right: 195px;
            bottom: 477px;
            z-index: 1;
        }
        .shape-11 {
            right: 95px;
            bottom: 195px;
            z-index: 1;
        }
        .shape-12 {
            right: -11px;
            bottom: 470px;
            z-index: 1;
        }
        .shape-13 {
            bottom: 0;
            left: 48%;

            @media #{$md} {
                display: block;
            }
            @media #{$xs} {
                display: block;
            }
        }
    }

    // header 
    .header {

        &.header-03 {
            position: unset;
            padding-top: 50px;
        }
    }

    .main-wrapper {

        &.demo-03 {
            font-family: $font-3;
            height: auto;
            padding-top: 50px;
            padding-bottom: 120px;
            overflow: hidden;
            position: relative;

            @media #{$lg} {
                padding-bottom: 120px;
            }
            @media #{$md} {
                padding-bottom: 120px;
                padding-top: 120px;
            }
            @media #{$xs} {
                padding-bottom: 100px;
                padding-top: 100px;
            }

            .shape {
                position: absolute;

                &.shape-2 {
                    width: 924px;
                    height: 924px;
                    background: $blue-darken;
                    border-radius: 50%;
                    bottom: 50px;
                    right: -400px;
                    z-index: -1;

                    @media #{$laptop} {
                        right: -500px;
                    }
                    @media #{$lg} {
                        width: 710px;
                        height: 710px;
                        right: -500px;
                    }
                    @media #{$md} {
                        display: none;
                    }
                    @media #{$xs} {
                        display: none;
                    }
                }
            }

            // content-wrapper 
            .content-wrapper {

                h1 {
                    font-size: 60px;
                    font-weight: 400;
                    color: $color-18;

                    @media #{$lg} {
                        font-size: 55px;
                    }
                    @media #{$xs} {
                        font-size: 40px;
                    }
                    @media #{$sm} {
                        font-size: 50px;
                    }
                }

                p {
                    color: $color-17;
                    font-size: 16px;
                    line-height: 34px;
                }

                // countdown 
                .countdown {

                    .single-count-content {

                        &::after {
                            content: ':';
                            color: rgba($color-18, .3);

                            @media #{$xs} {
                                top: -10px;
                                font-size: 45px;
                            }
                        }

                        .count {
                            font-weight: 700;
                            color: $color-18;
                        }

                        .text {
                            color: rgba($color-17, .5);
                        }
                    }
                }

                // subscribe-form 
                .subscribe-form {
                    max-width: 470px;

                    input {
                        border-color: rgba($color-17, .5);
                        padding-left: 55px;

                        &:focus {
                            border-color: $blue-darken;
                        }
                    }

                    i.lni-envelope {
                        position: absolute;
                        left: 25px;
                        top: 23px;
                        font-size: 18px;
                    }

                    button {
                        margin-top: 20px;
                        position: relative;
                        background: $blue-darken;
                        padding: 14px 24px;
                        margin-right: 20px;
                        margin-bottom: 15px;
                    }

                    a {
                        color: $blue-darken;

                        &:hover {
                            color: $color-18;
                        }
                    }
                }
            }

            // img-wrapper 
            .img-wrapper {
                margin-left: 0px;
                margin-right: 0;
                text-align: right;
                position: relative;
                z-index: 1;

                img {
                    width: 100%;
                }

                &::after {
                    content: '';
                    position: absolute;
                    z-index: -1;
                    width: 240px;
                    height: 240px;
                    border-radius: 50%;
                    background: #FFC845;
                    right: 40px;
                    bottom: -80px;
                }
            }
        }
    }
}